body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}
.list-contacts {
  display: flex;
  gap: 40px;
}
.list-nav {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-nav:nth-last-child() {
  margin-right: 0;
}
.list-nav:hover,
.list-nav:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
  gap: 40px;
}
.list-address {
  display: flex;
  gap: 40px;
}
.adress-email {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-email:hover,
.adress-email:focus {
  color: #404bbf;
}
.first-section {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0 188px;
}
.title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto 45px;
  max-width: 496px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  max-width: 496px;
}
.bth {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.bth:hover,
.bth:focus {
  background-color: #404bbf;
}

.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}
.page-list {
  display: flex;
  gap: 24px;
}
.paragraph-item {
  width: calc((100% - 72px) / 4);
}
.title-figura {
  margin-bottom: 8px;
}
.paragraph-one {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.card-people {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.card-portfolio {
  padding: 120px 0 120px 0;
}
.title-card {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-card {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.conteiner-name {
  padding: 32px 0;
}
.list-one {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
}

.title-card-people {
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.title-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.title-paragraph-portfolio {
}

.item-portolio {
  width: calc((100% - 24px * 2) / 3);
  gap: 24px;
  border-top: none;
}
.item-portolio:nth-last-child() {
  margin-right: 0;
}
.under-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 32px 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.title-figura {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.list-portfolio {
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}
.footer-logo {
  margin-bottom: 16px;
}
.paragraph-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  margin-top: 16px;
  width: 264px;
}
